<form [formGroup]="loginFormGroup" (ngSubmit)="onSubmit()">
  <div>
    <label>User Name</label>
    <input formControlName="userName" (change)="onChange()">
    <div *ngIf="userName.errors&& (userName.touched || submitted)">
      <p *ngFor="let err of objectHolder.values(userName.errors)">{{err}}</p>
    </div>
  </div>

  <div>
    <label>Password</label>
    <input type="password" formControlName="password" (change)="onChange()">
    <div *ngIf="password.errors&& (password.touched || submitted)">
      <p *ngFor="let err of objectHolder.values(password.errors)">{{err}}</p>
    </div>
  </div>

  <p *ngIf="!isExist">user name or password is not correct</p>

  <button type="submit" [disabled]="loginFormGroup.invalid">Login</button>

</form>