/* You can add global styles to this file, and also import other style files */
html,body{
    height: 100%;
    overflow: hidden;
}
.button{
    background-color: white;
    border: solid 3px #5cb85c;
    border-radius: 25px;
    padding: 2% 30%;
    display: block;
}
.button:hover{
    background-color:#5cb85c ;
}

