<div *ngIf="product" class="productDetailsContainer col-md-offset-3 col-md-6 row">
    <div class="col-md-6">
        <img class="col-md-12" src="{{product.imageLinks}}">
        <button class="btn-outline-primary button col-md-offset-1 col-md-10" *ngIf="localStorage.getItem(global.currentUser)" (click)="AddToCart()">Add To Cart</button>
        <button class="button col-md-offset-1 col-md-10" (click)="preview()">Preview</button>
    </div>
    <div class="col-md-6">
        <dl>
            <dt class="col-md-6">title:</dt>
            <dd class="col-md-6">{{product.title}}</dd>
            <dt class="col-md-6">subtitle:</dt>
            <dd class="col-md-6">{{product.subtitle}}</dd>
            <dt class="col-md-6">publisher:</dt>
            <dd class="col-md-6">{{product.publisher}}</dd>
            <dt class="col-md-6">publishedDate:</dt>
            <dd class="col-md-6">{{product.publishedDate| date : 'shortDate'}}</dd>
            <dt class="col-md-6">description:</dt>
            <dd class="col-md-6">{{product.description}}</dd>
            <dt class="col-md-6">pageCount:</dt>
            <dd class="col-md-6">{{product.pageCount}}</dd>

        </dl>

        <!-- <span *ngFor="let author of product.authors">
            <b>author: </b>{{author}}</span> -->

    </div>